.bestgift-parent{
    width: 99%;
    margin-top: 2%;
}

.bestgift-parent>h5{
    text-align: center;
    margin: 0 0 2% 0;
    font-size: 21px;
    font-weight: 700;
}

.bestgift-parent>div>img{
    width: 100%
}

.bestgift-parent>div>div{
    margin: -25% 0  0 60%;
    color: white;
}

.bestgift-parent>div>div>span{
    text-decoration: underline;
}