.bonusnote-parent{
    width: 100%;
    margin-top: 2%;
}

.bonusnote-parent>img{
    width: 99%;
}

.bonusnote-child{
    margin-top: -8%;
    text-align: center;
}

.bonusnote-child>p{
    margin:1% 0 0 -33%;
    text-decoration: underline;
}