.getinspire-parent{
    width: 95%;
}

.font-inspire{
    font-weight: 800;
}

.getinspire-parent>img{
    width: 100%;
}

.getinspire-child{
    display: flex;
    width:100%;
    font-size: 11px;
    text-decoration: underline;
    font-weight: 500;
}

.getinspire-child>p{
   margin-right: 3%;
   margin-top: 2%;
}



