.givestylish-parent{
    width: 99%;
}

.givestylish-parent>img{
    width: 100%;
}

.givestylish-parent>div{
   margin: -15% 0 0 30%;
}

.givestylish-parent>div>h5,
.givestylish-parent>div>p{
    font-weight: 700;
}

.givestylish-parent>div>span{
    text-decoration: underline;
}