.parent-merry{
    width: 99%;
}

.parent-merry>img{
    width: 100%;
}

.merry-list{
    margin-top:-7%;
    text-align: center;
    width: 100%;
}

.merry-gift{
    display: flex;
    margin:0 0 0 20%
}

.merry-gift>p{
    text-decoration: underline;
    margin-left: 4%;
}