.most-delicious-parent{
    width: 99%;
    margin-top:3%;
    
}

.most-delicious-parent>img{
    width: 100%;
}

.most-delicious-parent>div{
    margin: -25% 0 0 13%;
    color: white;
}

.most-delicious-parent>div>h5{
    font-size: 25px;
    font-weight: 700;
}

.most-delicious-parent>div>p{
    width: 35vw;
    font-size: 15px;
    font-weight: 500;
}

.most-delicious-parent>div>span{
    text-decoration: underline;
}

.dotline-most{
    width: 99%;
    margin-top: 17%;
}

.dotline-most>img{
    width: 100%;
}

.holiday-heading{
    text-align: center;
    font-size: 22px;
    font-weight:700;
    margin: 2% 0 2% 0;
}