.nordtrunk-parent{
    width: 99%;
}

.nordtrunk-parent>img{
    width: 100%;
}

.nordtrunk-child>h5{
    font-weight:700;
    font-size: 15px;
}

.nordtrunk-child>p{
    font-size: 14px;
}

.nordtrunk-child>span{
   text-decoration: underline;
}