.jacketcomponent{
    display:flex;
    width: 100%;
}

.getinspirecomponent{
    display:flex;
    width: 100%;
}

.getinspirecomponent>div{
    width: 100%;
}

.holidayshop-component{
    display:flex;
    width: 100%;
}

.holidayshop-component>div{
    width: 100%;
}

.nordtrunk-component{
    display:flex;
    width: 100%;
}

.shopcategory-component{
    display:flex;
    width: 100%; 
}

.heading-category{
    text-align: center;
    font-weight: 700;
    font-size:21px;
    margin: 2% 0 0 2%;
}

.living-heading{
    text-align: center;
    margin:2% 0 3% 0;
    font-weight: 700;
}

.living-heading>h5{
    font-weight: 700;
    font-size: 19px;
}

.living-heading>p{
    font-size: 13px;
}